<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myungsang.myungsang_backend.main_feed.repository.MainFeedIMapper">
    <resultMap id="feedVideoResultMap" type="com.myungsang.myungsang_backend.main_feed.vo.MainFeedVO">
        <id property="id" column="id"/>
        <id property="title" column="title"/>
        <id property="likeCnt" column="like_cnt"/>
        <id property="view" column="view"/>
        <id property="path" column="path"/>
        <id property="createdAt" column="created_at"/>
        <id property="updatedAt" column="updated_at"/>
        <id property="showId" column="show_id"/>
        <association property="user" javaType="com.myungsang.myungsang_backend.user.vo.UserVO">
            <result property="id" column="user_id"/>
            <result property="email" column="user_email"/>
            <result property="name" column="user_name"/>
        </association>
    </resultMap>
    <select id="mainVideos" resultMap="feedVideoResultMap">
        SELECT videos.id,
               videos.title,
               videos.like_cnt,
               videos.view,
               videos.created_at,
               videos.updated_at,
               videos.show_id,
               users.id    AS user_id,
               users.email AS user_email,
               users.name  AS user_name
        FROM myungsang_db.videos
                 JOIN users on users.id = videos.user_id
        ORDER BY videos.show_id;
    </select>
    <resultMap id="feedVideo" type="com.myungsang.myungsang_backend.main_feed.dto.MainFeedDTO">
        <id property="id" column="id"/>
        <id property="title" column="title"/>
        <id property="content" column="content"/>
        <id property="likeCnt" column="like_cnt"/>
        <id property="view" column="view"/>
        <id property="path" column="path"/>
        <id property="created_at" column="created_at"/>
        <id property="updated_at" column="updated_at"/>
        <id property="showId" column="show_id"/>
        <id property="liked" column="liked"/>
        <association property="user" javaType="com.myungsang.myungsang_backend.user.vo.UserVO">
            <result property="id" column="user_id"/>
            <result property="email" column="user_email"/>
            <result property="name" column="user_name"/>
            <association property="file" javaType="com.myungsang.myungsang_backend.file.vo.FileVO" notNullColumn="user_file_id">
                <result property="id" column="user_file_id"/>
                <result property="name" column="user_file_name"/>
                <result property="path" column="user_file_path"/>
                <result property="extension" column="user_file_extension"/>
                <result property="fullPath" column="user_file_full_path"/>
            </association>
        </association>
        <association property="thumbnail_file" javaType="com.myungsang.myungsang_backend.file.vo.FileVO"
                     notNullColumn="thumbnail_file_id">
            <result property="id" column="thumbnail_file_id"/>
            <result property="name" column="thumbnail_file_name"/>
            <result property="path" column="thumbnail_file_path"/>
            <result property="extension" column="thumbnail_file_extension"/>
            <result property="fullPath" column="thumbnail_file_full_path"/>
        </association>
        <association property="video_file" javaType="com.myungsang.myungsang_backend.file.vo.FileVO"
                     notNullColumn="video_file_id">
            <result property="id" column="video_file_id"/>
            <result property="name" column="video_file_name"/>
            <result property="path" column="video_file_path"/>
            <result property="extension" column="video_file_extension"/>
            <result property="fullPath" column="video_file_full_path"/>
        </association>
    </resultMap>
    <select id="getFeed" resultType="com.myungsang.myungsang_backend.main_feed.dto.MainFeedDTO" resultMap="feedVideo"
            parameterType="long">
        SELECT
        video.id,
        video.title,
        video.content,
        video.like_cnt,
        video.view,
        video.created_at,
        video.updated_at,
        user.id AS user_id,
        user.email AS user_email,
        user.name AS user_name,
        user_file.id AS user_file_id,
        user_file.name AS user_file_name,
        user_file.path AS user_file_path,
        user_file.extension AS user_file_extension,
        user_file.full_path AS user_file_full_path,
        thumbnail_file.id AS thumbnail_file_id,
        thumbnail_file.name AS thumbnail_file_name,
        thumbnail_file.path AS thumbnail_file_path,
        thumbnail_file.extension AS thumbnail_file_extension,
        thumbnail_file.full_path AS thumbnail_file_full_path,
        video_file.id AS video_file_id,
        video_file.name AS video_file_name,
        video_file.path AS video_file_path,
        video_file.extension AS video_file_extension,
        video_file.full_path AS video_file_full_path,
        exists(select * from like_tbl lt where lt.user_id = #{user_id} and lt.file_id = video.id ) AS liked
        FROM myungsang_db.videos video
        JOIN users user on video.user_id = user.id
        LEFT JOIN files thumbnail_file on video.thumbnail_file_id = thumbnail_file.id
        LEFT JOIN files video_file on video.video_file_id = video_file.id
        LEFT JOIN files user_file on user.file_id = user_file.id
        LEFT JOIN video_category vc on video.id = vc.video_id
        LEFT JOIN categories category on vc.category_id = category.id
        <if test="category_id != 0">WHERE category_id = #{category_id}</if>
        ORDER BY video.show_id
        <if test="page_count != -1">LIMIT #{page_count}</if>
        <if test="page_index != -1">OFFSET #{page_index}</if>
        ;
    </select>
</mapper>

