<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myungsang.myungsang_backend.file.iservice.FileIService">
    <insert id="saveFile">
        INSERT INTO myungsang_db.files(name, path, extension)
        VALUES (#{name}, #{path}, #{extension})
    </insert>
</mapper>
